@{
    ViewBag.Title = "Home Page";
}
<style>
    #table td {
        line-height: 50px;
        text-align: center;
    }

    #table th {
        text-align: center;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 2px solid #eee;
    }
</style>
<hr />
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-info">
        <input type="radio" name="options" id="option1"> 全部
    </label>
    <label class="btn btn-info">
        <input type="radio" name="options" id="option2"> 选项 2
    </label>
    <label class="btn btn-info">
        <input type="radio" name="options" id="option3"> 选项 3
    </label>
</div>
<hr />
<table class="table table-hover" id="table"></table><hr />

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body">在这里添加一些文本</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
   
    $(function () {
        OrderList();
    });

    var Ptable_action = "@Url.Action("OrderList", "Order")";
    function OrderList() {
        $.ajax({
            type: "GET",
            url: Ptable_action,
            data: { State: "Enable", Datetime: ""},
            dataType: "json",
            success: function (data) {
                $("#table").append(data.message);
            }
        });
    }
</script>
