@{
    ViewBag.Title = "环评公示";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div style="width:100%;">
    <div style="width:100%; text-align:center;">
        <p class="MsoNormal" style="font-size:20px;font-weight:bolder;">
            山西天润煤化集团德通煤业有限公司通风系统变更项目
        </p>
        <p class="MsoNormal" style="font-size:15px;font-weight:bolder;">
            环境影响评价公众参与公示
        </p>
        <hr />
        <p>
            发布时间：2018年4月17日
        </p>
    </div>
    
    <p class="MsoNormal">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoNormal" style="text-indent:24.1pt;">
        <b>一、</b><b>建设项目简述</b><b></b>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        山西天润煤化集团德通煤业有限公司矿井位于乡宁县城西南直距30km<span>处的史家沟村一带，行政区划属乡宁县枣岭乡管辖。地理坐标为东经</span>110°33′51″～110°37′44″；北纬35°47′11″～35°49′05″。公司矿井为2009<span>年</span>12<span>月</span>30<span>日，山西省煤矿企业兼并重组整合工作领导组办公室以晋煤重组办发</span>[2009]138<span>号文件批复的兼并重组整合项目。重组整合后矿井生产能力为</span>90<span>万</span>t/a<span>，批准开采</span>2<span>～</span>10<span>号煤层，批准井田面积</span>8.2145km2<span>。目前该矿已完成了</span>90<span>万</span>t/a<span>兼并重组整合项目的基建工作，投入生产。</span>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        目前，矿井一采区剩余可采储量4.29Mt<span>，服务年限</span>3.6<span>年，亟待开拓二采区的开采工作。根据初步设计的批复，同意该矿</span>“利用原山西乡宁史家沟煤业有限公司矿井的副立井、回风立井并联后作为兼并重组后矿井的后期回风立井，共同担负矿井后期开采二采区时的回风任务。”按照该矿生产接续情况，需开始施工后期回风立井。
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.1pt;">
        <b>二</b><b>.<span>建设项目对环境可能造成影响的概述</span></b>
    </p>
    <p class="MsoNormal" style="text-indent:23.7pt;">
        <b>1.<span>施工期环境影响因素</span></b>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        环境空气：施工活动大气污染源主要为建筑施工以及材料运输过程中产生的扬尘。
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;background:white;">
        废水：建设期水污染源主要为施工期生活污水。
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        噪声：主要为施工机械，如混凝土搅拌机、提升机、挖掘机及汽车运输等产生的噪声。
    </p>
    <p class="MsoNormal" style="text-indent:28.05pt;">
        固体废物：主要为掘进废土石和生活垃圾。
    </p>
    <p class="MsoNormal" style="text-indent:23.7pt;">
        <b>2.<span>运营期环境影响因素</span></b>
    </p>
    <p class="a">
        废水：主要为少量生活污水。
    </p>
    <p class="a">
        噪声：主要为通风机房、空压机房、泵房及瓦斯抽放站的噪声。
    </p>
    <p class="MsoBodyTextIndent" style="text-indent:21.85pt;">
        固体废物：主要职工生活产生的生活垃圾。
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.1pt;">
        <b>三</b><b>.<span>预防或者减轻不良环境影响的对策和措施的要点</span></b>
    </p>
    <p class="MsoNormal" style="text-indent:23.7pt;">
        <b>1.<span>施工期环境影响因素</span></b>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        ⑴环境空气
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;">
        主要采取措施为施工地点定时洒水，保持地面相对湿度；施工期间产生的土方、渣石、垃圾等应合理处置，不能随意堆放；易散失物资不得裸露堆放，项目施工时应设防护网，最大限度减轻施工扬尘对周围环境的影响。
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        ⑵废水
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        施工期生活污水量很小，可用于洒水抑尘。
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        ⑶噪声
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;">
        建设的单位要采用低噪设备，对机械操作工采取轮流作业制，防止工人长时间接触高噪声源；合理安排施工时间，对强噪声设备应避免在夜间作业，运输车辆也应在白天进出。
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        ⑷固体废物
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        掘进废石可用于填沟造地，富余量送往矸石沟处理。
    </p>
    <p class="MsoNormal" style="text-indent:23.7pt;">
        <b>2.<span>运营期环境影响因素</span></b>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        ⑴废水
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        废水仅为生活污水，污水量较小，可用于风井场地洒水，不外排。
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        ⑵噪声
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        对于风机和空压机等噪声，主要场区设置于室内，基础减振，消声等措施，对于水泵主要采取设置于室内，设备基础减振，泵体与管道之间采取柔性连接扥方式。对瓦斯抽放站主要采取设置于室内，基础减振等措施。
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        ⑶固体废物
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        营运期固体废物主要是生活垃圾，经收集后运至当地政府指定地点处理。
    </p>
    <p class="MsoNormal" style="text-indent:23.7pt;">
        <b>3.<span>闭矿期环境影响因素</span></b>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        前期风井服务期满后，应及时对风井井筒按有关要求进行封填，并拆除工业场地内不可利用建筑及设施，最大程度进行生态恢复。
    </p>
    <p class="MsoNormal" style="text-indent:24.1pt;">
        <b>四、环境影响评价初步结论要点</b><b></b>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        本次项目建设符合国家产业政策的要求；该工程环境污染程度轻，生产运行期对周围环境的影响是可以接受的，因此从环境保护的角度出发，在满足该报告提出的治理措施和建议的前提下，该项目的建设是可行的。
    </p>
    <p class="MsoNormal" style="text-indent:24.1pt;">
        <b>五、公众查阅环境影响报告书简本的方式和期限，以及公众认为必要时向建设单位或者其委托的环境影响评价机构索取补充信息的方式和期限；</b><b></b>
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;">
        请于本公告公布10<span>个工作日内采取上门、信函、电话、电子邮件、传真等方式向建设单位或环评机构索取报告书简本，公众如认为必要可同时向建设单位或环评机构索取补充信息。索取信息时，公众应明确所要索取补充信息的类型，并提供姓名、联系方式等，以便建设单位或环评机构及时反馈有关信息。</span>
    </p>
    <p class="MsoNormal" style="text-indent:24.1pt;">
        <b>六、征求公众意见的范围及注意事项 </b><b></b>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        范围：项目附近可能受影响的民众，单位职工或团体、组织和管理部门。
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        主要事项：⑴对项目的环境影响提出自己的看法；⑵要求署名提交书面意见，并留联系电话与通讯地址，以便建设单位与评价单位反馈意见。
    </p>
    <p class="MsoNormal" style="text-indent:24.1pt;">
        <b>七、征求公众意见的具体形式、时间</b><b></b>
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;">
        征求公众意见采取发放调查表、随机走访、张贴公告、个别走访等的方式，对项目附近最直接相关者、具有代表性的居民和办公行政单位等公开征求公众意见。征求公众意见的时间为本公告公布之日10<span>个工作日内。</span>
    </p>
    <p class="MsoNormal" style="text-indent:24.1pt;">
        <b>八、联系方式：</b><b></b>
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        建设单位：山西天润煤化集团德通煤业有限公司
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;">
        电话号码：13835729835
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        环评单位：临汾市德清源环保科技服务有限责任公司
    </p>
    <p class="MsoNormal" style="text-indent:24.0pt;">
        电话号码：0357-2258280
    </p>
    <p class="MsoNormal" align="left" style="text-align:left;text-indent:24.0pt;">
        电子邮箱：lfhbyjs@126.com
    </p>
    <p class="MsoNormal">
        <br />
    </p>
</div>